<% @book.errors.full_messages.each do |message| %>
 <div class="form-error">
  <%= @book.errors.count %> error prohibited this obj from being saved
  <%= message %>
 </div>
<% end %>

<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with model:@book, local:true do |f| %>
        <div class = "form_group">
          <h4>Title</h4>
          <%= f.text_field :title %>
        </div>
        <div class = "form_group">
          <h4>Opinion</h4>
          <%= f.text_area :body %>
        </div>
        <div class = "form_group">
          <%= f.submit "Update Book ", class: "col-xs-12 btn btn-success" %>
        </div>
        <div class = "form_group">
          <%= link_to "Show", book_path(@book.id) %>
          |
          <%= link_to "Back", books_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>